<h1>List of articles</h1>
<table>
<thead>
 <tr>  
 <th> Title</th>
  <th> Action</th>
 <th> description</th>

  </tr>  
</thead>
<tbody>

<% @articles.each do |article| %>
<tr>
<td> <%= article.title %> </td>
<td> <%= article.description %> </td>
<td>  placeholder </td>

</tr>
<% end %>


</tbody>

</table>
